langchain-core
langchain-google-genai==2.0.3
langgraph==0.2.39
pydantic==2.9.2
python-telegram-bot==21.6
apscheduler==3.10.4
nest_asyncio==1.6.0
pandas
matplotlib
PyPDF2
watchfiles
IPython==8.28.0
pyppeteer==2.0.0
langchain
langchain-groq
requests==2.32.3
html2text==2024.2.26
python-dotenv==1.0.1
typing-extensions==4.12.2
